<% content_for :title do %>
  States
<% end %>

<div class="page-header">
  <h1>States</h1>
  <%= link_to new_state_path, class: 'btn btn-primary' do %>
    <%= icon 'fas', 'plus' %>
    Add State
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @states.each do |state| %>
        <tr>
          <td><%= state.name %></td>
          <td>
            <%= link_to state, class: 'btn btn-info btn-sm' do %>
              <%= icon 'fas', 'eye', class: 'fa-fw' %>
            <% end %>
            <%= link_to edit_state_path(state), class: 'btn btn-success btn-sm' do %>
              <%= icon 'fas', 'edit', class: 'fa-fw' %>
            <% end %>
            <%= link_to state, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-danger btn-sm' do %>
              <%= icon 'fas', 'times', class: 'fa-fw' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>