<% content_for :title do %>
  Rooms
<% end %>

<div class="page-header">
  <h1>Rooms</h1>
  <%= link_to new_room_path, class: 'btn btn-primary' do %>
    <%= icon 'fas', 'plus' %>
    Add Room
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Number</th>
        <th>Room type</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @rooms.each do |room| %>
        <tr>
          <td><%= room.number %></td>
          <td><%= room.room_type.name %> - R$ <%= room.room_type.price %> </td>
          <td>
            <%= link_to room, class: 'btn btn-info btn-sm' do %>
              <%= icon 'fas', 'eye', class: 'fa-fw' %>
            <% end %>
            <%= link_to edit_room_path(room), class: 'btn btn-success btn-sm' do %>
              <%= icon 'fas', 'edit', class: 'fa-fw' %>
            <% end %>
            <%= link_to room, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-danger btn-sm' do %>
              <%= icon 'fas', 'times', class: 'fa-fw' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>